
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-vPq {
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 0.016rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-elkw-6xX {
    flex-shrink: 0;
    margin-bottom: 8rem;
    box-sizing: border-box;
    padding-bottom: 3.0783rem;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;

    .frame-27-zAj {
      width: 100%;
      height: 9.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      box-sizing: border-box;
      padding: 2.15rem 10.4rem 2.15rem 10.2rem;

      .frame-25-5xs {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .group-134-2t7 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 56rem;
          width: 13rem;
          height: 5.2rem;
        }
        .frame-24-xWs {
          align-items: center;
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);
          display: flex;

          .frame-19-V11 {
            margin: 0.8rem 5rem 0.7rem 0rem;
            height: calc(100% - 1.5rem);
            display: flex;
            column-gap: 3rem;
            align-items: center;
            flex-shrink: 0;

            .home-mcj {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .about-us-q6o {
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .blog-mm9 {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .contact-Wyd {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-135-ScP {
            border-radius: 0.5rem;
            height: 100%;
            line-height: 1.2175;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            width: 12rem;
            background-color: #000000;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-35-RjD {
      margin: 0 12.1rem;
      width: calc(100% - 24.2rem);
      height: 59.6217rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-125-XnF {
        height: calc(100% - 19.7217rem);
        position: relative;
        flex-shrink: 0;
        margin: 9.861rem 8.8rem 9.861rem 0rem;
        width: 61rem;

        .frame-120-e6B {
          width: 42.9rem;
          height: 23.8rem;
          position: absolute;
          left: 0;
          top: 0;

          .haulway-B67 {
            width: 42.9rem;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14rem;
            font-weight: 400;
            height: 23.8rem;
            line-height: 1.7;
            color: #000000;
            font-family: MonteCarlo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-157-sjd {
            left: 5.8rem;
            top: 18.1rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.4133rem;
            width: 31.4rem;
            height: 1.3rem;
            position: absolute;
          }
          .introducing-CG7 {
            font-size: 2.4rem;
            font-weight: 600;
            font-family: Montserrat, 'Source Sans Pro';
            width: 14.7rem;
            left: 0;
            top: 2.0608rem;
            line-height: 1.2190000216;
            color: #000000;
            white-space: nowrap;
            height: 2.9rem;
            position: absolute;
          }
        }
        .frame-123-6MV {
          top: 20.8rem;
          width: 61rem;
          height: 19.1rem;
          position: absolute;
          left: 0;

          .frame-122-dMR {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            width: 100%;

            .your-ultimate-fashion-e-commerce-hub-BNw {
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #000000;
            }
            .elevate-your-fashion-influence-engage-with-your-audience-and-maximize-your-revenue-tYF {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 55.3rem;
              font-size: 2.2rem;
              font-weight: 500;
              line-height: 1.2175;
            }
          }
          .group-136-NCX {
            font-weight: 600;
            color: #ffffff;
            justify-content: center;
            background-color: #000000;
            border-radius: 1rem;
            height: 6.5rem;
            line-height: 1.2175;
            text-align: center;
            font-size: 2.6rem;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            width: 18.5rem;
          }
        }
      }
      .union-P7d {
        width: 50rem;
        height: 59.6217rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-116-VwM {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .frame-115-rX1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 10rem;
      width: 100%;

      .auto-group-kwup-ybd {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 9.2rem 8rem 9.2rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-107-uEP {
          height: 77.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 8rem;
          width: 100%;

          .frame-104-Sk7 {
            margin-right: 3.8rem;
            width: 51rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-bN7 {
              width: 33rem;
              height: 77.2rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 441.919% 141.677%;
              background-position: -55.7813rem -11.1rem;
              background-image: url('REPLACE_IMAGE:073af42603b17a65f83c99c2f0c380e3b9122b33');
            }
            .rectangle-geT {
              background-position: -42.5581rem -8.6047rem;
              background-image: url('REPLACE_IMAGE:f7247ab309bb8ac433acc5207b7710e8771392dc');
              width: 30rem;
              height: 62.5581rem;
              position: relative;
              left: 21rem;
              top: 14.6419rem;
              background-size: 387.597% 139.405%;
            }
          }
          .frame-106-ydZ {
            flex-shrink: 0;
            margin: 23.95rem 0;
            width: 70.8rem;
            height: calc(100% - 47.9rem);

            .frame-105-v31 {
              margin-bottom: 1rem;
              width: 62.8rem;

              .dont-miss-out-on-the-latest-trends-ejh {
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
              }
              .rectangle-20-8um {
                width: 100%;
                height: 0.3rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .frame-62-Th9 {
              width: 100%;
              display: flex;
              flex-direction: column;

              .explore-our-curated-collection-that-embodies-the-spirit-of-the-moment-embrace-the-trends-that-resonate-with-you-stay-stylish-stay-unique-never-miss-a-beat-in-the-world-of-fashion-ca3 {
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                max-width: 70.8rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .frame-62-FN7 {
                margin-right: 43.3rem;
                width: calc(100% - 43.3rem);
                height: 6.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .group-139-BFm {
                  font-size: 2.6rem;
                  flex-shrink: 0;
                  width: 18.5rem;
                  height: 100%;
                  font-weight: 600;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 3rem;
                  line-height: 1.2190000094;
                  align-items: center;
                  background-color: #000000;
                  text-align: center;
                  color: #ffffff;
                  display: flex;
                  justify-content: center;
                  border-radius: 4rem;
                }
                .group-140-qr7 {
                  background-color: #000000;
                  border-radius: 3rem;
                  flex-shrink: 0;
                  margin: 0.25rem 0;
                  box-sizing: border-box;
                  padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                  height: calc(100% - 0.5rem);

                  .arrow-2-mDy {
                    width: 1.8183rem;
                    height: 1.8183rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
        .frame-102-t3h {
          margin: 0rem 0.33rem 0rem 0.33rem;
          width: calc(100% - 0.6601rem);
          height: 51.5628rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-99-QGw {
            flex-shrink: 0;
            margin: 10.5314rem 0;
            width: 73rem;
            height: calc(100% - 21.0628rem);

            .frame-58-YP9 {
              margin-bottom: 3rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .fashion-showcase-and-innovation-hG3 {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 3.2rem;
                font-weight: 600;
              }
              .rectangle-20-Qw9 {
                height: 0.5rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
                flex-shrink: 0;
                width: 100%;
              }
            }
            .frame-65-YnT {
              flex-direction: column;
              display: flex;

              .step-into-the-feature-of-fashion-with-haulways-ar-powered-virtual-try-ons-showcase-your-designs-in-an-immersive-interactive-way-that-captivates-your-audience-iB9 {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                max-width: 67rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.2175;
              }
              .group-136-ZBm {
                height: 6.5rem;
                font-weight: 600;
                display: flex;
                line-height: 1.2175;
                align-items: center;
                flex-shrink: 0;
                text-align: center;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                width: 18.5rem;
                font-size: 2.6rem;
                color: #ffffff;
                background-color: #000000;
                border-radius: 1rem;
              }
            }
          }
          .union-2r3 {
            height: 51.5628rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 51.9399rem;
          }
        }
      }
      .frame-114-n4X {
        box-sizing: border-box;
        padding: 4.4rem 11.2rem 4.4rem 9.6rem;
        width: 100%;
        height: 72rem;
        background-color: #f2f2f2;
        flex-shrink: 0;

        .frame-98-hxB {
          width: 100%;
          height: 58.331rem;
          display: flex;
          align-items: center;

          .union-RtB {
            margin-right: 4rem;
            width: 50rem;
            height: 58.331rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-63-mh9 {
            margin: 14.5155rem 0;
            width: 69.2rem;
            height: calc(100% - 29.031rem);
            flex-shrink: 0;

            .frame-60-W8w {
              margin-bottom: 1rem;
              width: 62.8rem;

              .join-our-influencer-program-rTh {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                text-align: right;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
              }
              .rectangle-20-yYK {
                width: 100%;
                height: 0.3rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .frame-62-K6P {
              width: 100%;
              display: flex;
              flex-direction: column;

              .boost-your-income-and-influence-by-partnering-with-us-promote-products-earn-commissions-and-access-valuable-insights-into-your-engagement-impact-55Z {
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                max-width: 69.2rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .frame-61-LnB {
                width: calc(100% - 41.7rem);
                height: 6.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 41.7rem;

                .group-139-fpT {
                  align-items: center;
                  margin-right: 3rem;
                  width: 18.5rem;
                  height: 100%;
                  text-align: center;
                  background-color: #000000;
                  border-radius: 4rem;
                  font-size: 2.6rem;
                  line-height: 1.2175;
                  color: #ffffff;
                  display: flex;
                  font-weight: 600;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  justify-content: center;
                }
                .group-140-9zX {
                  margin: 0.25rem 0;
                  box-sizing: border-box;
                  padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                  height: calc(100% - 0.5rem);
                  background-color: #000000;
                  border-radius: 3rem;
                  flex-shrink: 0;

                  .arrow-2-GpF {
                    width: 1.8183rem;
                    height: 1.8183rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
      }
      .auto-group-zkaf-BgK {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8rem 3.1rem 8rem 3.1rem;
        width: 100%;
        align-items: center;

        .frame-55-Wib {
          margin-bottom: 8rem;
          box-sizing: border-box;
          padding: 5.9rem 4.6rem 5.9rem 4.5rem;
          width: 100%;
          height: 33rem;
          background-color: #222222;
          border-radius: 1rem;
          flex-shrink: 0;

          .frame-54-2wq {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .frame-48-zdm {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.9rem;

              .why-choose-haulway-YvB {
                max-width: 24.4rem;
                font-size: 4.8rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 2.2rem 0.1rem 0rem;
              }
              .rectangle-163-rfy {
                flex-shrink: 0;
                width: 0.2rem;
                height: 21.2rem;
                background-color: #ffffff;
              }
            }
            .frame-53-QBh {
              flex-shrink: 0;
              margin: 2.168rem 0rem 2.168rem 0rem;
              height: calc(100% - 4.3364rem);
              display: flex;
              align-items: center;

              .frame-50-8tP {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 27.3rem;
                height: 100%;

                .union-t6s {
                  flex-shrink: 0;
                  margin-bottom: 1rem;
                  width: 14rem;
                  height: 6.3636rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .frame-49-pWK {
                  flex-direction: column;
                  flex-shrink: 0;
                  width: 100%;
                  align-items: center;
                  display: flex;

                  .accentuate-your-influence-yu1 {
                    color: #ffffff;
                    margin-bottom: 0.4rem;
                    text-align: center;
                    line-height: 1.2175;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 600;
                  }
                  .directly-connect-with-your-followers-and-engage-in-real-time-interactions-uGs {
                    line-height: 1.2175;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 25.8rem;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                  }
                }
              }
              .auto-group-dmmq-bvP {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.332rem 0rem 0.332rem 3.1rem;

                .frame-51-jWo {
                  margin-right: 2.7rem;
                  width: 28.4rem;
                  height: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .exclude-UjH {
                    height: 5.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 1.1rem;
                    width: 8rem;
                  }
                  .frame-41-Dwm {
                    flex-direction: column;
                    flex-shrink: 0;
                    width: 100%;
                    align-items: center;
                    display: flex;

                    .stunning-fashion-showcase-Btb {
                      margin-bottom: 0.4rem;
                      text-align: center;
                      font-size: 2rem;
                      font-weight: 600;
                      line-height: 1.2175;
                      font-family: Montserrat, 'Source Sans Pro';
                      color: #ffffff;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .display-your-creations-with-ar-enhanced-virtual-try-ons-hc3 {
                      line-height: 1.2175;
                      color: #ffffff;
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 25.3rem;
                      text-align: center;
                      font-size: 1.8rem;
                      font-weight: 500;
                    }
                  }
                }
                .frame-52-CHu {
                  flex-direction: column;
                  flex-shrink: 0;
                  width: 35.5rem;
                  height: 100%;
                  align-items: center;
                  display: flex;

                  .union-Luu {
                    height: 5.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 1.1rem;
                    width: 8rem;
                  }
                  .frame-42-tgX {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    width: 100%;
                    align-items: center;

                    .seamless-e-commerce-integration-FGB {
                      margin-bottom: 0.4rem;
                      text-align: center;
                      font-size: 2rem;
                      line-height: 1.2175;
                      font-family: Montserrat, 'Source Sans Pro';
                      white-space: nowrap;
                      font-weight: 600;
                      color: #ffffff;
                      flex-shrink: 0;
                    }
                    .streamline-purchases-and-manage-inventory-effortlessly-mVR {
                      color: #ffffff;
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 25.4rem;
                      text-align: center;
                      font-size: 1.8rem;
                      font-weight: 500;
                      line-height: 1.2189999686;
                    }
                  }
                }
              }
            }
          }
        }
        .frame-100-FfV {
          width: calc(100% - 22.6756rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 12.938rem 0rem 9.738rem;

          .frame-88-ahm {
            margin: 0rem 11.012rem 6rem 14.212rem;
            width: calc(100% - 25.2244rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .what-do-you-gain-from-partnering-with-haulway-uzw {
              text-align: center;
              font-size: 3.2rem;
              font-family: Montserrat, 'Source Sans Pro';
              margin-bottom: 1rem;
              font-weight: 600;
              line-height: 1.2189999819;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .rectangle-20-2Zm {
              width: 100%;
              height: 0.3rem;
              background-color: #222222;
              border-radius: 8rem 0 8rem 0;
              flex-shrink: 0;
            }
          }
          .frame-89-mGT {
            width: 100%;
            height: 57.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-142-KYs {
              margin-right: 4rem;
              width: 47.6244rem;
              height: 100%;
              position: relative;
              border-radius: 0.923rem;
              flex-shrink: 0;

              .rectangle-170-GU7 {
                height: 43.1019rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.923rem;
                width: 23.0738rem;
              }
              .rectangle-173-zuu {
                position: absolute;
                left: 11.6292rem;
                top: 4.6148rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.923rem;
                width: 23.0738rem;
                height: 43.1019rem;
              }
              .rectangle-174-vHm {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.923rem;
                width: 23.0738rem;
                height: 43.1019rem;
                position: absolute;
                left: 24.5506rem;
                top: 14.3981rem;
              }
            }
            .frame-86-EZM {
              flex-direction: column;
              flex-shrink: 0;
              margin: 12.55rem 0rem 12.45rem 0rem;
              height: calc(100% - 25rem);
              display: flex;

              .optimize-your-e-commerce-operations-MP5 {
                font-weight: 600;
                line-height: 1.2190000216;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3rem;
                font-size: 2.4rem;
              }
              .amplify-your-influence-and-engagement-ssD {
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                font-size: 2.4rem;
              }
              .innovate-with-ar-and-interactive-features-p1m {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .collaborate-on-features-and-growth-strategies-juR {
                margin-bottom: 3rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2190000216;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .join-a-thriving-fashion-and-influencer-community-TqR {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
              }
              .earn-commissions-through-the-influencer-program-bAw {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
              }
            }
          }
        }
      }
      .frame-84-hzf {
        box-sizing: border-box;
        padding: 6.8rem 11.787rem 6.95rem 11.7rem;
        width: 100%;
        height: 72rem;
        background-color: #f2f2f2;
        flex-shrink: 0;
        margin-bottom: 8rem;

        .frame-83-ddR {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .frame-75-xQo {
            width: 67.9rem;
            height: calc(100% - 28.9498rem);
            flex-shrink: 0;
            margin: 14.475rem 12rem 14.475rem 0rem;

            .frame-74-Ue3 {
              flex-direction: column;
              margin-bottom: 2.9rem;
              width: 100%;
              display: flex;

              .frame-60-RpB {
                margin-bottom: 1rem;
                width: 62.8rem;
                flex-shrink: 0;

                .strategic-partnership-for-success-md9 {
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1rem;
                  text-align: right;
                  font-size: 3.2rem;
                  font-weight: 600;
                  line-height: 1.2175;
                  color: #000000;
                }
                .rectangle-20-VJF {
                  width: 100%;
                  height: 0.3rem;
                  background-color: #222222;
                  border-radius: 8rem 0 8rem 0;
                }
              }
              .collaborate-with-us-to-revolutionize-the-fashion-and-e-commerce-landscape-benefit-from-early-access-customized-solutions-and-an-extended-reach-pbR {
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 67.9rem;
                font-size: 2.8rem;
              }
            }
            .frame-73-Hzo {
              margin-right: 34rem;
              width: calc(100% - 34rem);
              height: 6.5rem;
              display: flex;
              align-items: center;

              .group-143-E9M {
                height: 100%;
                text-align: center;
                font-weight: 600;
                white-space: nowrap;
                display: flex;
                background-color: #000000;
                margin-right: 3rem;
                width: 24.9rem;
                align-items: center;
                justify-content: center;
                font-size: 2.6rem;
                line-height: 1.2175;
                font-family: Montserrat, 'Source Sans Pro';
                color: #ffffff;
                border-radius: 4rem;
                flex-shrink: 0;
              }
              .group-140-6ST {
                padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                height: calc(100% - 0.5rem);
                background-color: #000000;
                border-radius: 3rem;
                flex-shrink: 0;
                margin: 0.25rem 0;
                box-sizing: border-box;

                .arrow-2-DGB {
                  height: 1.8183rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.8183rem;
                }
              }
            }
          }
          .union-Lbh {
            width: 40.6135rem;
            height: 58.2498rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-144-sbd {
        margin: 0rem 11.6rem 0rem 12.1rem;
        width: calc(100% - 23.7rem);
        height: 49.4212rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .union-aW3 {
          margin-right: 4rem;
          width: 45rem;
          height: 49.4212rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-82-7ks {
          width: 71.3rem;
          height: calc(100% - 26.3866rem);
          flex-shrink: 0;
          margin: 11.7rem 0rem 14.687rem 0rem;

          .frame-81-FMH {
            margin-bottom: 1.9rem;
            display: flex;
            flex-direction: column;

            .frame-103-D3D {
              margin-bottom: 1rem;
              width: 24.9rem;
              flex-shrink: 0;

              .lets-talk-xmV {
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .rectangle-20-hDH {
                width: 100%;
                height: 0.3rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .ready-to-take-the-next-step-lets-have-a-chat-and-explore-the-possibilities-together-2mM {
              max-width: 65.8rem;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .frame-13-vrj {
            width: 100%;
            height: 8.0346rem;
            display: flex;
            align-items: center;

            .group-133-HSP {
              line-height: 1.2175;
              color: #222222;
              box-sizing: border-box;
              font-size: 2.6rem;
              font-family: Montserrat, 'Source Sans Pro';
              border-radius: 1rem;
              flex-shrink: 0;
              margin-right: 3rem;
              padding: 2.4rem 2rem 2.435rem 2rem;
              border: solid 0.3rem #000000;
              width: 46.4rem;
              height: 100%;
              font-weight: 500;
              white-space: nowrap;
            }
            .group-132-7wD {
              height: calc(100% - 0.0346rem);
              text-align: center;
              font-size: 2.6rem;
              line-height: 1.2175;
              background-color: #000000;
              border-radius: 1rem;
              font-weight: 600;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.0346rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              width: 21.9rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .frame-108-BAP {
      padding: 7.316rem 8.2rem 7.784rem 4.7rem;
      width: 100%;
      height: 28.2rem;
      background-color: #222222;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-97-Vgs {
        width: 100%;
        height: 100%;
        display: flex;
        column-gap: 14rem;
        align-items: flex-start;

        .frame-94-S6K {
          width: 21rem;
          flex-shrink: 0;

          .follow-us-zdd {
            margin-bottom: 2rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2189999494;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-91-j5R {
            width: 100%;
            display: flex;
            column-gap: 3rem;
            align-items: center;

            .group-146-59H {
              width: 3rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-145-RU3 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
            .vector-yEf {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
            }
            .group-147-ii3 {
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .frame-92-TvX {
          height: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .quick-links-pFH {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2189999494;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .about-us-9HZ {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .contact-us-VMR {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .frame-93-E47 {
          flex-shrink: 0;
          height: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;

          .explore-NRD {
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2189999494;
          }
          .privacy-policy-uvw {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contact-us-Fju {
            line-height: 1.2189999686;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
        .frame-96-nzj {
          width: 41.8rem;
          flex-shrink: 0;

          .subscribe-9aP {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
          }
          .frame-95-tH5 {
            display: flex;
            align-items: center;
            width: 100%;
            height: 6rem;

            .group-195-39y {
              padding: 1.9rem 3rem;
              color: #818181;
              margin-right: 2rem;
              height: 100%;
              font-weight: 600;
              background-color: #ffffff;
              border-radius: 3rem;
              box-sizing: border-box;
              width: 34.8rem;
              line-height: 1.2189999686;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.8rem;
              white-space: nowrap;
            }
            .group-194-Jbh {
              height: 5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 5rem;
            }
          }
        }
      }
    }
  }
}
