
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-ij1 {
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 0.0159rem;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;

  .auto-group-ifvw-4H5 {
    margin-bottom: 8rem;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 2.9783rem;
    width: 100%;
    display: flex;
    background-color: #eeeeee;

    .frame-27-oEf {
      width: 100%;
      height: 9.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      box-sizing: border-box;
      padding: 2.15rem 10.4rem 2.15rem 10.2rem;

      .frame-25-KTu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .group-134-V7V {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 56rem;
          width: 13rem;
          height: 5.2rem;
          position: relative;
          object-fit: contain;
        }
        .frame-24-DZH {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.6rem 0rem;
          height: calc(100% - 1.2rem);

          .frame-19-Lto {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0.8rem 5rem 0.7rem 0rem;
            height: calc(100% - 1.5rem);
            display: flex;
            column-gap: 3rem;

            .home-TiX {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .about-us-zCf {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.218999958;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .blog-L1d {
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .contact-snF {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .group-135-29M {
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            border-radius: 0.5rem;
            height: 100%;
            text-align: center;
            line-height: 1.218999958;
            color: #ffffff;
            white-space: nowrap;
            background-color: #000000;
            width: 12rem;
            font-family: Montserrat, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-35-fi7 {
      flex-shrink: 0;
      margin: 0 12.1rem;
      width: calc(100% - 24.2rem);
      height: 59.6217rem;
      display: flex;
      align-items: center;

      .frame-125-11H {
        width: 61rem;
        height: calc(100% - 19.7217rem);
        position: relative;
        flex-shrink: 0;
        margin: 9.861rem 8.8rem 9.861rem 0rem;

        .frame-120-85u {
          left: 0;
          top: 0;
          width: 43rem;
          height: 23.8rem;
          position: absolute;

          .haulway-fbd {
            line-height: 1.7;
            left: 0;
            font-size: 14rem;
            font-weight: 400;
            top: 0;
            color: #000000;
            font-family: MonteCarlo, 'Source Sans Pro';
            white-space: nowrap;
            width: 43rem;
            height: 23.8rem;
            position: absolute;
          }
          .rectangle-157-aTh {
            left: 5.8rem;
            top: 18.1rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.4133rem;
            width: 31.4rem;
            height: 1.3rem;
            position: absolute;
          }
          .introducing-hYK {
            font-family: Montserrat, 'Source Sans Pro';
            top: 2.0608rem;
            height: 3rem;
            position: absolute;
            left: 0;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #000000;
            width: 14.7rem;
            white-space: nowrap;
          }
        }
        .frame-123-c9V {
          top: 20.8rem;
          width: 61rem;
          height: 19.1rem;
          position: absolute;
          left: 0;

          .frame-122-LrB {
            margin-bottom: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .your-ultimate-fashion-e-commerce-hub-Vyy {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2175;
            }
            .elevate-your-fashion-influence-engage-with-your-audience-and-maximize-your-revenue-Duy {
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 55.3rem;
              font-size: 2.2rem;
              font-weight: 500;
              line-height: 1.2175;
              color: #000000;
            }
          }
          .group-136-JwR {
            background-color: #000000;
            text-align: center;
            font-size: 2.6rem;
            align-items: center;
            height: 6.5rem;
            font-weight: 600;
            justify-content: center;
            border-radius: 1rem;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            display: flex;
            width: 18.5rem;
            line-height: 1.2190000094;
            white-space: nowrap;
          }
        }
      }
      .union-zZM {
        width: 50rem;
        height: 59.6217rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-116-vT1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .frame-115-UzK {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 10rem;
      width: 100%;

      .auto-group-wwjd-omh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 9.53rem 8rem 9.53rem;
        width: 100%;
        align-items: center;

        .frame-119-94s {
          width: calc(100% - 2.6399rem);
          height: 70rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.47rem 8rem 1.17rem;

          .frame-104-4hd {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 3.8rem;
            width: 48rem;

            .rectangle-QWb {
              left: 0;
              top: 0;
              background-size: 417.973% 143.609%;
              background-position: -47.1652rem -10.6401rem;
              background-image: url('REPLACE_IMAGE:c0cba756c9b690e0b5a1229dca26ea6d16a94ddb');
              width: 30rem;
              height: 70rem;
              position: relative;
            }
            .rectangle-W3q {
              height: 62.558rem;
              position: relative;
              left: 18rem;
              top: 7.442rem;
              background-size: 353.707% 127.603%;
              background-position: -37.8862rem -5.2792rem;
              background-image: url('REPLACE_IMAGE:bf4b31368af877a302e64295892d5d0f08688a25');
              width: 30rem;
            }
          }
          .frame-118-zUo {
            margin: 18.65rem 0;
            width: 70.5rem;
            height: calc(100% - 37.3rem);
            flex-shrink: 0;

            .frame-117-jBV {
              margin-bottom: 1rem;
              width: 62.8rem;

              .experience-seamless-purchase-5m9 {
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .rectangle-20-1eo {
                width: 100%;
                height: 0.3rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .frame-113-Yej {
              display: flex;
              flex-direction: column;
              width: 100%;

              .welcome-to-your-one-stop-destination-for-an-effortless-shopping-experience-explore-your-cart-for-items-youre-considering-and-dive-into-your-order-history-to-track-past-purchases-all-in-one-place-ukB {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                max-width: 70.5rem;
                font-size: 2.8rem;
                font-weight: 500;
              }
              .frame-61-wgs {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 43rem;
                width: calc(100% - 43rem);
                height: 6.5rem;

                .group-139-Hkj {
                  margin-right: 3rem;
                  height: 100%;
                  background-color: #000000;
                  width: 18.5rem;
                  text-align: center;
                  border-radius: 4rem;
                  font-weight: 600;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  font-size: 2.6rem;
                  line-height: 1.2175;
                  justify-content: center;
                }
                .group-140-NnB {
                  background-color: #000000;
                  border-radius: 3rem;
                  flex-shrink: 0;
                  margin: 0.25rem 0;
                  box-sizing: border-box;
                  padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                  height: calc(100% - 0.5rem);

                  .arrow-2-hZZ {
                    width: 1.8183rem;
                    height: 1.8183rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
        .frame-102-RVZ {
          width: 100%;
          height: 51.5628rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-99-BDq {
            margin: 10.531rem 0rem 10.531rem 0rem;
            width: 73rem;
            height: calc(100% - 21.0628rem);
            flex-shrink: 0;

            .frame-58-WX1 {
              margin-bottom: 3rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .fashion-showcase-and-innovation-4oR {
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-20-b2f {
                flex-shrink: 0;
                width: 100%;
                height: 0.5rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .frame-65-8HV {
              display: flex;
              flex-direction: column;

              .step-into-the-feature-of-fashion-with-haulways-ar-powered-virtual-try-ons-showcase-your-designs-in-an-immersive-interactive-way-that-captivates-your-audience-VNw {
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2rem;
                max-width: 67.9rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.2189999989;
                color: #000000;
              }
              .group-136-MAF {
                display: flex;
                align-items: center;
                height: 6.5rem;
                width: 18.5rem;
                text-align: center;
                font-weight: 600;
                line-height: 1.2190000094;
                font-family: Montserrat, 'Source Sans Pro';
                justify-content: center;
                border-radius: 1rem;
                flex-shrink: 0;
                font-size: 2.6rem;
                color: #ffffff;
                white-space: nowrap;
                background-color: #000000;
              }
            }
          }
          .union-dNf {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 51.9399rem;
            height: 51.5628rem;
          }
        }
      }
      .frame-114-AtP {
        height: 72rem;
        background-color: #f2f2f2;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.4rem 11.2rem 4.4rem 9.6rem;
        width: 100%;

        .frame-98-Vvf {
          width: 100%;
          height: 58.331rem;
          display: flex;
          align-items: center;

          .union-ENT {
            height: 58.331rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 50rem;
          }
          .frame-63-NjZ {
            margin: 14.5155rem 0;
            width: 69.2rem;
            height: calc(100% - 29.031rem);
            flex-shrink: 0;

            .frame-60-KPu {
              width: 62.8rem;
              margin-bottom: 1rem;

              .join-our-influencer-program-sRR {
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                text-align: right;
              }
              .rectangle-20-zkw {
                width: 100%;
                height: 0.3rem;
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
              }
            }
            .frame-62-jiX {
              width: 100%;
              display: flex;
              flex-direction: column;

              .boost-your-income-and-influence-by-partnering-with-us-promote-products-earn-commissions-and-access-valuable-insights-into-your-engagement-impact-hfM {
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 2.9rem;
                max-width: 69.2rem;
                font-size: 2.8rem;
              }
              .frame-61-xrB {
                height: 6.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 41.7rem;
                width: calc(100% - 41.7rem);

                .group-139-Vr7 {
                  margin-right: 3rem;
                  display: flex;
                  background-color: #000000;
                  border-radius: 4rem;
                  line-height: 1.2190000094;
                  width: 18.5rem;
                  height: 100%;
                  font-weight: 600;
                  flex-shrink: 0;
                  justify-content: center;
                  text-align: center;
                  font-size: 2.6rem;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: center;
                }
                .group-140-yWP {
                  border-radius: 3rem;
                  flex-shrink: 0;
                  margin: 0.25rem 0;
                  box-sizing: border-box;
                  padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                  height: calc(100% - 0.5rem);
                  background-color: #000000;

                  .arrow-2-JYf {
                    width: 1.8183rem;
                    height: 1.8183rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
      }
      .auto-group-tni3-D9q {
        padding: 8rem 3.1rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-55-w5q {
          margin-bottom: 8rem;
          box-sizing: border-box;
          padding: 5.9rem 4.6rem 5.9rem 4.5rem;
          width: 100%;
          height: 33rem;
          background-color: #222222;
          border-radius: 1rem;
          flex-shrink: 0;

          .frame-54-rib {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .frame-48-pQX {
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.5rem;
              height: 100%;
              display: flex;

              .why-choose-haulway-mqZ {
                font-size: 4.8rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 2.2rem 0.1rem 0rem;
                max-width: 24.4rem;
              }
              .rectangle-163-t9V {
                flex-shrink: 0;
                width: 0.2rem;
                height: 21.2rem;
                background-color: #ffffff;
              }
            }
            .frame-53-RQK {
              height: calc(100% - 4.3364rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 2.168rem 0rem 2.168rem 0rem;

              .frame-50-xQF {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 28.1rem;
                height: 100%;
                align-items: center;

                .union-i8X {
                  margin-bottom: 1rem;
                  width: 14rem;
                  height: 6.3636rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .frame-49-f3m {
                  width: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .accentuate-your-influence-phM {
                    font-size: 2rem;
                    line-height: 1.2175;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    text-align: center;
                    font-weight: 600;
                    white-space: nowrap;
                  }
                  .directly-connect-with-your-followers-and-engage-in-real-time-interactions-9Uj {
                    max-width: 28.1rem;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 1.2189999686;
                    color: #ffffff;
                    font-family: Montserrat, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                }
              }
              .auto-group-spk9-45u {
                box-sizing: border-box;
                padding: 0.332rem 0rem 0.332rem 2.7rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-51-zET {
                  height: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 2.7rem;
                  width: 28.4rem;

                  .exclude-jSw {
                    margin-bottom: 1.1rem;
                    width: 8rem;
                    height: 5.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .frame-41-t4w {
                    width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .stunning-fashion-showcase-3iX {
                      flex-shrink: 0;
                      margin-bottom: 0.4rem;
                      color: #ffffff;
                      font-weight: 600;
                      line-height: 1.2175;
                      font-family: Montserrat, 'Source Sans Pro';
                      white-space: nowrap;
                      text-align: center;
                      font-size: 2rem;
                    }
                    .display-your-creations-with-ar-enhanced-virtual-try-ons-Ao9 {
                      line-height: 1.2175;
                      color: #ffffff;
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 25.3rem;
                      text-align: center;
                      font-size: 1.8rem;
                      font-weight: 500;
                    }
                  }
                }
                .frame-52-H75 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  width: 35.5rem;
                  height: 100%;
                  align-items: center;

                  .union-EHD {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 1.1rem;
                    width: 8rem;
                    height: 5.6rem;
                    object-fit: contain;
                  }
                  .frame-42-AwZ {
                    width: 100%;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .seamless-e-commerce-integration-8tP {
                      white-space: nowrap;
                      color: #ffffff;
                      font-family: Montserrat, 'Source Sans Pro';
                      font-size: 2rem;
                      font-weight: 600;
                      line-height: 1.2175;
                      flex-shrink: 0;
                      margin-bottom: 0.4rem;
                      text-align: center;
                    }
                    .streamline-purchases-and-manage-inventory-effortlessly-f7d {
                      line-height: 1.2175;
                      color: #ffffff;
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 24.4rem;
                      text-align: center;
                      font-size: 1.8rem;
                      font-weight: 500;
                    }
                  }
                }
              }
            }
          }
        }
        .frame-100-9Hh {
          width: calc(100% - 22.6756rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 12.938rem 0rem 9.738rem;

          .frame-88-5BM {
            width: calc(100% - 25.2244rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 11.012rem 6rem 14.212rem;

            .what-do-you-gain-from-partnering-with-haulway-1ao {
              margin-bottom: 1rem;
              text-align: center;
              font-size: 3.2rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 600;
              color: #000000;
            }
            .rectangle-20-7tj {
              background-color: #222222;
              border-radius: 8rem 0 8rem 0;
              flex-shrink: 0;
              width: 100%;
              height: 0.3rem;
            }
          }
          .frame-89-Fzw {
            height: 57.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .group-142-DRy {
              flex-shrink: 0;
              margin-right: 4rem;
              width: 47.6244rem;
              height: 100%;
              position: relative;
              border-radius: 0.923rem;

              .rectangle-170-Zkj {
                border-radius: 0.923rem;
                width: 23.0738rem;
                height: 43.1019rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
              }
              .rectangle-173-6Vm {
                top: 4.6148rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.923rem;
                width: 23.0738rem;
                height: 43.1019rem;
                position: absolute;
                left: 11.6292rem;
              }
              .rectangle-174-cj1 {
                border-radius: 0.923rem;
                width: 23.0738rem;
                height: 43.1019rem;
                position: absolute;
                left: 24.5506rem;
                top: 14.3981rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .frame-86-wWP {
              row-gap: 2.9rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 12.55rem 0rem 12.45rem 0rem;
              height: calc(100% - 25rem);

              .optimize-your-e-commerce-operations-Fmy {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
              }
              .amplify-your-influence-and-engagement-nX1 {
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .innovate-with-ar-and-interactive-features-XDh {
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
              }
              .collaborate-on-features-and-growth-strategies-rWs {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .join-a-thriving-fashion-and-influencer-community-P11 {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .earn-commissions-through-the-influencer-program-WrK {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 600;
              }
            }
          }
        }
      }
      .frame-84-qNo {
        padding: 6.8rem 11.787rem 6.95rem 11.7rem;
        width: 100%;
        height: 72rem;
        background-color: #f2f2f2;
        flex-shrink: 0;
        margin-bottom: 8rem;
        box-sizing: border-box;

        .frame-83-AR5 {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .frame-75-hR1 {
            margin: 14.475rem 12rem 14.475rem 0rem;
            width: 67.9rem;
            height: calc(100% - 28.9498rem);
            flex-shrink: 0;

            .frame-74-d3m {
              margin-bottom: 2.9rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .frame-60-ZTD {
                margin-bottom: 1rem;
                width: 62.8rem;
                flex-shrink: 0;

                .strategic-partnership-for-success-Jfh {
                  font-size: 3.2rem;
                  font-weight: 600;
                  line-height: 1.2175;
                  color: #000000;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1rem;
                  text-align: right;
                }
                .rectangle-20-Dnf {
                  border-radius: 8rem 0 8rem 0;
                  width: 100%;
                  height: 0.3rem;
                  background-color: #222222;
                }
              }
              .collaborate-with-us-to-revolutionize-the-fashion-and-e-commerce-landscape-benefit-from-early-access-customized-solutions-and-an-extended-reach-Zbd {
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 67.9rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.2175;
                color: #000000;
              }
            }
            .frame-73-SfR {
              margin-right: 34rem;
              width: calc(100% - 34rem);
              height: 6.5rem;
              display: flex;
              align-items: center;

              .group-143-aFq {
                margin-right: 3rem;
                height: 100%;
                font-weight: 600;
                background-color: #000000;
                flex-shrink: 0;
                text-align: center;
                line-height: 1.2190000094;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                justify-content: center;
                font-size: 2.6rem;
                white-space: nowrap;
                display: flex;
                align-items: center;
                border-radius: 4rem;
                width: 24.9rem;
              }
              .group-140-qxT {
                box-sizing: border-box;
                padding: 1.989rem 2.125rem 2.193rem 2.057rem;
                height: calc(100% - 0.5rem);
                background-color: #000000;
                border-radius: 3rem;
                flex-shrink: 0;
                margin: 0.25rem 0;

                .arrow-2-mLK {
                  width: 1.8183rem;
                  height: 1.8183rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
          .union-HpT {
            width: 40.6135rem;
            height: 58.2498rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-144-ddR {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 11.6rem 0rem 12.1rem;
        width: calc(100% - 23.7rem);
        height: 49.4212rem;
        display: flex;

        .union-ZGB {
          margin-right: 4rem;
          width: 45rem;
          height: 49.4212rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-82-6X1 {
          height: calc(100% - 26.3866rem);
          flex-shrink: 0;
          margin: 11.7rem 0rem 14.687rem 0rem;
          width: 71.3rem;

          .frame-81-RZH {
            margin-bottom: 1.9rem;
            display: flex;
            flex-direction: column;

            .frame-103-BYT {
              margin-bottom: 1rem;
              width: 24.9rem;
              flex-shrink: 0;

              .lets-talk-jZy {
                line-height: 1.2175;
                color: #000000;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 3.2rem;
                font-weight: 600;
              }
              .rectangle-20-583 {
                background-color: #222222;
                border-radius: 8rem 0 8rem 0;
                width: 100%;
                height: 0.3rem;
              }
            }
            .ready-to-take-the-next-step-lets-have-a-chat-and-explore-the-possibilities-together-cdm {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 65.8rem;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.2175;
            }
          }
          .frame-13-iRu {
            height: 8.0346rem;
            display: flex;
            align-items: center;
            width: 100%;

            .group-133-51Z {
              box-sizing: border-box;
              width: 46.4rem;
              height: 100%;
              color: #222222;
              margin-right: 3rem;
              font-size: 2.6rem;
              font-weight: 500;
              white-space: nowrap;
              flex-shrink: 0;
              border: solid 0.3rem #000000;
              padding: 2.4rem 2rem 2.435rem 2rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              border-radius: 1rem;
            }
            .group-132-vH5 {
              justify-content: center;
              flex-shrink: 0;
              text-align: center;
              color: #ffffff;
              display: flex;
              white-space: nowrap;
              align-items: center;
              font-size: 2.6rem;
              font-weight: 600;
              font-family: Montserrat, 'Source Sans Pro';
              border-radius: 1rem;
              margin-bottom: 0.0346rem;
              width: 21.9rem;
              height: calc(100% - 0.0346rem);
              line-height: 1.2175;
              background-color: #000000;
            }
          }
        }
      }
    }
    .frame-108-Bio {
      padding: 7.316rem 8.2rem 7.784rem 4.7rem;
      width: 100%;
      height: 28.2rem;
      background-color: #222222;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-97-vAb {
        display: flex;
        column-gap: 14rem;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .frame-94-4Go {
          flex-shrink: 0;
          width: 21rem;

          .follow-us-p15 {
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2175;
          }
          .frame-91-kQX {
            width: 100%;
            display: flex;
            column-gap: 3rem;
            align-items: center;

            .group-146-Vd1 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
            .group-145-38j {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .vector-PTV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
            .group-147-k39 {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 3rem;
            }
          }
        }
        .frame-92-HYs {
          height: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .quick-links-e8X {
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 700;
          }
          .about-us-ywV {
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .contact-us-8ZV {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
          }
        }
        .frame-93-smy {
          height: 100%;
          row-gap: 3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .explore-dm9 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2189999494;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .privacy-policy-Zuh {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .contact-us-Wa3 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2175;
            color: #a2a2a2;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-96-45m {
          width: 41.8rem;
          flex-shrink: 0;

          .subscribe-cd5 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2175;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
          }
          .frame-95-9su {
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;

            .group-195-7Jw {
              height: 100%;
              color: #818181;
              padding: 1.9rem 3rem;
              font-weight: 600;
              line-height: 1.2189999686;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 34.8rem;
              box-sizing: border-box;
              font-size: 1.8rem;
              background-color: #ffffff;
              border-radius: 3rem;
              margin-right: 2rem;
            }
            .group-194-BZh {
              width: 5rem;
              height: 5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
