
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 125.7rem;
}.frame-112-csh {
  width: 100%;
  display: flex;
  align-items: center;

  .frame-104-kj1 {
    margin-right: 3.8rem;
    width: 51rem;
    height: 77.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-gsZ {
      background-position: -46.3738rem -7.7463rem;
      background-image: url('REPLACE_IMAGE:c511a58658347d614797061d6779b307b980813c');
      width: 33rem;
      height: 77.2rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 379.391% 133.561%;
    }
    .rectangle-PX5 {
      position: relative;
      left: 21rem;
      top: 14.642rem;
      background-size: 403.226% 143.13%;
      background-position: -44.7581rem -9.3121rem;
      background-image: url('REPLACE_IMAGE:3d7b2c9828586ff0ce9a07c42e9ac580735c0de1');
      width: 30rem;
      height: 62.558rem;
    }
  }
  .frame-111-HMZ {
    width: 70.9rem;
    flex-shrink: 0;

    .frame-110-SET {
      flex-direction: column;
      margin-bottom: 2.9rem;
      width: 100%;
      display: flex;

      .frame-105-zFy {
        margin-bottom: 1rem;
        width: 62.8rem;
        flex-shrink: 0;

        .dont-miss-out-on-the-latest-trends-YHV {
          font-weight: 600;
          line-height: 1.2189999819;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 3.2rem;
        }
        .rectangle-20-2yM {
          height: 0.3rem;
          background-color: #222222;
          border-radius: 8rem 0 8rem 0;
          width: 100%;
        }
      }
      .welcome-to-our-ultimate-fashion-and-beauty-destination-dive-into-our-curated-collection-that-brings-together-the-best-of-both-fashion-and-beauty-with-our-lookbook-and-get-ready-with-me-mg3 {
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 70.9rem;
        font-size: 2.8rem;
      }
    }
    .frame-111-QU7 {
      display: flex;
      align-items: center;
      margin-right: 43.4rem;
      width: calc(100% - 43.4rem);
      height: 6.5rem;

      .group-139-kH5 {
        white-space: nowrap;
        align-items: center;
        height: 100%;
        font-weight: 600;
        display: flex;
        background-color: #000000;
        border-radius: 4rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 18.5rem;
        text-align: center;
        font-size: 2.6rem;
        color: #ffffff;
      }
      .group-140-d5y {
        height: calc(100% - 0.5rem);
        background-color: #000000;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 0.25rem 0;
        box-sizing: border-box;
        padding: 1.989rem 2.125rem 2.193rem 2.057rem;

        .arrow-2-jPu {
          width: 1.8183rem;
          height: 1.8183rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
