
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123.5rem;
}.frame-126-n1V {
  width: 100%;
  display: flex;
  align-items: center;

  .frame-125-Xjm {
    height: 40.1rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 13.3rem 0rem 0rem;
    width: 60.2rem;

    .frame-120-2wR {
      position: absolute;
      left: 0;
      top: 0;
      width: 42.9rem;
      height: 23.8rem;

      .hualway-NVV {
        position: absolute;
        color: #000000;
        font-family: MonteCarlo, 'Source Sans Pro';
        height: 23.8rem;
        left: 0;
        top: 0;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.7;
        white-space: nowrap;
        width: 42.9rem;
      }
      .rectangle-157-sBM {
        width: 31.4rem;
        height: 1.3rem;
        position: absolute;
        left: 5.8rem;
        top: 18.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.4133rem;
      }
      .introducing-PQb {
        color: #000000;
        width: 14.5rem;
        height: 3rem;
        position: absolute;
        font-weight: 500;
        line-height: 1.2175;
        left: 0;
        top: 2.0608rem;
        font-size: 2.4rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-123-J1m {
      height: 19.3rem;
      position: absolute;
      left: 0;
      top: 20.8rem;
      width: 60.2rem;

      .frame-122-DuR {
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .your-ultimate-fashion-e-commerce-hub-yNo {
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
        }
        .elevate-your-fashion-influence-engage-with-your-audience-and-maximize-your-revenue-HeP {
          max-width: 55.3rem;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2189999494;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-136-Zro {
        align-items: center;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        background-color: #000000;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        height: 6.5rem;
        font-size: 2.6rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        width: 18.5rem;
      }
    }
  }
  .union-p23 {
    width: 50rem;
    height: 59.6217rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
}
